{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda Verdor</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="Icon" type="image/png" href="/static/imagenes/IconoCarrito.png">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color: white">Fundación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html" style="color: white">Cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color: white">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color: white">Ver pedido</a>
    </li>
  </ul>

<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="../inicio">
      <img src="/static/imagenes/Logo.jpg" alt="Logo" width="95" height="95" class="d-inline-block align-text-top" style="border-radius: 50%">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Menú de Categorías
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../semillas">Semillas</a></li>
            <li><a class="dropdown-item" href="../tierra">Tierra y abono</a></li>
            <li><a class="dropdown-item" href="../herramientas">Herramientas de Cultivo</a></li>
            <li><a class="dropdown-item" href="../maceteros">Maceteros</a></li>
          </ul>
        </li>
      </ul>
      <div class="container">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="¿Qué estás buscando?" aria-label="Buscar" aria-describedby="button-addon2">
          <button class="btn btn-success" type="submit" id="button-addon2"><img src="/static/imagenes/LupaIcono.png" width="40" height="40"></button>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <button class="btn-carrito2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="/static/imagenes/IconoCarrito.png" width="50" height="50" display="flex" margin-left ="300">
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <table id="cart" class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
            </tr>
        </thead>
        <tbody id="cart-items">
           
        </tbody>
    </table>
    <table>
      <tr>
        <th scope="row" colspan="3">Total:</th>
        <td id="total-price">$ {{ total_carrito }}</td>
      </tr>
    </table>
     <!-- Formulario para enviar los datos del carrito -->
     <form id="cart-form" method="post" action="{% url 'save_cart' %}">
      <input type="hidden" name="cart_items" id="cart-items-input">
      <button type="button" onclick="submitCart()">Comprar</button>
     </form>
    </div>
  </div>  
</div>
<br>
<br>
  <div class="container">
    <h1>¡Bienvenido jardinero!</h1>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/imagenes/Anuncio1.jpg" class="d-block w-100 rounded-5" alt="Anuncio1">
        </div>
        <div class="carousel-item">
          <img src="/static/imagenes/Anuncio2.jpg" class="d-block w-100 rounded-5" alt="Anuncio2">
        </div>
        <div class="carousel-item">
          <img src="/static/imagenes/Anuncio3.jpg" class="d-block w-100 rounded-5" alt="Anuncio3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>
  </div>
{% load static %}
 <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>